/* ARCHIVE */


* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #0F2D26;
  margin: 0;
  padding: 0 0 0;
  font-size: 18px;
  font-family: 'Rubik', sans-serif;
  line-height: 1.2;
  overflow-x: hidden;
  width: 100vw;
  max-width: 100%;
  min-height: 100vh;
}

img {
  max-width: 100%;
  height: auto;
}

main {
  /* max-width: 1600px; */
  margin: 0 auto;
  padding: 0;
}

section {
  scroll-behavior: smooth;
}

/* HOME
============================================== */

.home {
  padding: 2.5em 1em;
  min-height: 100vh;
  text-align: center;
  background-image: url(images3/liffebg.svg);
  background-size: cover;
  background-position: center;
  display: grid;
  justify-items: center;
  align-content: center;
}

.small-logo {
  display: block;
  max-width: 100vmin;
  width: 100%;
}

.large-logo {
  max-width: 110vmin;
  width: 100%;
  display: none;
}

.section-top {
  background-color: #f4f4f4;
  position: relative;
  z-index: 1; /* Ensure top section stays above the wave */
}

.section-bottom {
  background-color: #fff;
  position: relative;
  z-index: 1; /* Ensure bottom section stays above the wave */
}



@media (max-width: 768px) {
  section {
    padding: 30px 1em; /* Smaller padding for mobile */
  }

  .wave-divider img {
    width: 100vw; /* Ensure full width on mobile */
    height: auto; /* Maintain aspect ratio */
  }
}

/* GRID
========================================================= */
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  margin: 20px auto;
  max-width: 1400px;
}

.grid-item {
  position: relative;
  cursor: pointer;
}

.grid-item img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.grid-item:hover img {
  opacity: 0.75;
}

.grid-item-title-date {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1em;
  color: white;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  opacity: 0;
  transition: all 0.3s ease;
}

.grid-item-title {
  font-weight: 700;
  margin-bottom: 1em;
  line-height: 110%;
}

.grid-item-date {
  font-weight: 300;
}

.grid-item:hover .grid-item-title-date {
  opacity: 1;
}

.additional-images {
  display: none;
}

/* NAVIGATION
============================================== */
nav {
  padding: 16px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.5em;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  z-index: 10;
  color: white;
  background: #094438;
  position: fixed;
  top: 70px;
  left: 0;
  width: 100vw;
  height: 100vh;
  align-items: center;
  align-content: center;
  transition: opacity 0.3s ease;
  translate: 0 -200vh;
  opacity: 0;
}

nav a {
  font-size: 36px;
  margin: 1em auto;
  display: block;
}

header {
  background-color: black;
  color: white;
  text-align: right;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  height: 70px;
  width: 100vw;
  display: grid;
  align-items: center;
  justify-content: end;
}

.menu-icon {
  cursor: pointer;
}

.menu-active nav {
  translate: 0 0;
  opacity: 1;
}

.portfolio {
  padding-top: 100px;
  max-width: 2000px;
  margin: 0 auto;
}


/* TYPOGRAPHY
============================================== */
h1 {
  font-size: 1.25em;
  font-weight: 500;
  text-align: center;
  max-width: 22em;
  color: #fff;

}

h2 {
  font-size: 1.25em;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 1em 0;
  color: white;
  
}

h3 {
  font-size: 1.5em;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 1em 0;
  color: white;
}

p {}

a {
  color: white;
  text-decoration: none;
}

/* MODAL
========================================================= */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 11;
}

.modal-open {
  overflow: hidden;
}

.modal-open .modal {
  display: block;
}

/* .project-image img {
  max-width: 70vmin;
} */

.project-image {
  max-width: 100vmin;
  text-align: center;
  margin: 0 auto;
}

.modal-content {
  background-color: #094438;
  /* border-radius: 8px; */
  padding: 20px;
  text-align: center;
  height: 100vh;
  overflow-y: auto;
  display: grid;
  align-items: center;
}

.modal-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  align-items: start;
  padding: 8px;
  margin: 0 auto;
  max-width: 1400px;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #ffffff;
  font-size: 40px;
  cursor: pointer;
}

/* Center align header */
.carousel-header {
    text-align: center;
    margin-bottom: 20px;
}

.custom-carousel-container {
    position:relative;
    width: 80%;
    max-width: 1200px;
    margin:  auto; /* Centers the container */
    overflow: hidden;
    margin-bottom: 40px; /* Add space below the carousel */
}

.custom-carousel {
    display: flex;
    overflow: hidden;
    position: relative;
}

.custom-carousel-wrapper {
    display: flex;
    transition: transform 0.8s ease-in-out; /* Adjust timing as needed */
}

.custom-carousel-item {
    flex: 0 0 33.33%; /* 1x3 layout */
    box-sizing: border-box;
    padding: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-carousel-item img {
    width: 100%;
    max-width: 150px; /* Maximum width of image */
    max-height: 100px; /* Maximum height of image */
    object-fit: contain; /* Preserve aspect ratio */
    display: block;
    border-radius: 8px;
}

/* Responsive styles */
@media (max-width: 768px) {
    .custom-carousel-item {
        flex: 0 0 100%; /* Stack items on small screens */
    }
}


/* people ive worked with */

.centered-heading {
  margin: 2;
  text-align: center;
}

/* The main carousel element */
.custom-carousel {
  display: flex;
  overflow: hidden;
  position: relative;
  justify-content: center; /* Center carousel items */
}

/* Wrapper for carousel items */
.custom-carousel-wrapper {
  display: flex;
  transition: transform 0.8s ease-in-out; /* Adjust timing as needed */
}

/* Carousel items */
.custom-carousel-item {
  flex: 0 0 33.33%; /* 1x3 layout for desktop */
  box-sizing: border-box;
  padding: 0 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 0; /* Prevent content overflow issues */
}

/* Styling for images inside the carousel items */
.custom-carousel-item img {
  width: 100%;
  max-width: 200px; /* Maximum width of image */
  max-height: 125px; /* Maximum height of image */
  object-fit: contain; /* Preserve aspect ratio */
  display: block;
  border-radius: 80px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .custom-carousel-item {
      flex: 0 0 100%; /* 1x1 layout for mobile screens */
  }
}


.additional-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25em;
  margin: 1em auto;
  font-size: 2.5vw;
  position: relative;
}

.additional-content-image {
  width: 5em;
  height: 5em;
  background-size: cover;
  cursor: pointer;
  opacity: 50%;
  transition: all 0.5s;
  border-radius: 8px;
}

.additional-prev {
  padding: 0 1em;
  cursor: pointer;
}

.additional-next {
  padding: 0 1em;
  cursor: pointer;
}

.hide-image {
  display: none;
}

.selected-image {
  opacity: 100%;
}

.project-name {
  color: white;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
}

.project-date {
  font-size: 10px;
  color: white;
  opacity: 60%;
  text-transform: uppercase;
  text-align: left;
}

.project-info {
  padding-bottom: 8px;
  color: white;
  text-align: left;
}


/* body {
margin: 0;
padding: 0 0 0;
font-size: 18px;
font-family: 'DM Sans', sans-serif;
line-height: 1.2;
overflow-x: hidden;
width: 100vw;
max-width: 100%;
min-height: 100vh;
background: var(--green);
color: var(--light);
display: grid;
align-items: center;
} */

/* CONTACT
============================================== */

.wave2 {
  text-align: center;
  padding: 2.5em 0 0 0;
  background-image:url(images/conact.svg) ;
  background-size: cover;
  background-position: center;
  background-color: #094438;
  
  
  }
  
  @media (max-width: 768px) {
  .contact {
    min-height: 250px; /* Increase minimum height for mobile devices */
  }
  }
  

.contact {
  text-align: center;
  padding: 2.5em 0 0 0;



}

@media (max-width: 768px) {
  .contact {
    min-height: 250px; /* Increase minimum height for mobile devices */
  }
}


.container {
  max-width: 1000px;
  margin: 50px auto;
  padding: 60px;
  border-radius: 8px;
  
  
  

}

.bio-section {
  display: flex;
  align-items: center;

}



.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 20px;
  overflow: hidden;
}

.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bio-text {
  flex: 1;
}

h2 {
  color: white;
  text-align: left;
  font-size: 1.25em;
}

p {
  color: white;
  text-align: left;
  font-weight: 100;
  font-size: smaller;
}

.contact a {
  display: block;
}

.container {
  display: flex;
  /* Use flexbox to align items */
  justify-content: center;
  /* Center items horizontally */
  
}

.button {
  padding: 10px 30px;
  margin: 10px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  border: 2px solid #fff;
  border-radius: 5px;
  background-color: #fff;
  color: black;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.button:hover {
  background-color: black;
  color: #fff;
}


footer {
  display: grid;
  grid-template-columns: repeat(7, 2em);
  grid-gap: 1em;
  justify-content: center;
  align-items: center;
  justify-items: center;
  padding: 2em 0;
  margin-top: 2em;
  background-color: #0C594A;
  background-size: cover;
  background-position: center;
}




/* UTILITIES
============================================== */
.footer-container {
  margin-top: -2em !important;
}



/* MEDIA QUERIES
============================================== */

@media (min-width: 450px) {

  .grid-container {
    grid-template-columns: 1fr 1fr;
  }

}



@media (min-width: 750px) {

  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .additional-content {
    font-size: 0.75em;
  }

}


@media (min-width: 900px) {

  .small-logo {
    display: none;
  }

  .large-logo {
    display: block;
  }

  nav {
    grid-template-columns: repeat(3, 10em);
    grid-gap: 2.5em;
    justify-content: space-around;
  }

  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .portfolio-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .project-display {
    grid-template-columns: 1fr 10em;
  }

  .project-list {
    height: 100%;
    width: auto;
    grid-auto-flow: row;
  }

  .modal-grid {
    grid-template-columns: 1fr 1fr;
  }

  .project-image {
    max-width: 70vmin;
  }

  .menu-icon {
    display: none;
  }

  nav {
    opacity: 1;
    translate: 0 0;
    background: black;
    height: 70px;
    top: 0;
  }

  nav a {
    font-size: inherit;
    margin: 0;
  }

  


}